p {
  color: #000080;
}

a {
  color: #800080;
}

a:visited {
  color: #FF0000;
}

body {
  background-color: #FFFFFF;
}

#header p {
	text-align: center;
	font-weight: bold;
	margin: -3px 0px -3px 0px;
}

.border {
	border: 1px solid black;
	border-color: black;
	margin: 10px 0px 5px 0px;
}

.address {
	font-size: 12px;
}

span {
	font-size: 24px;
}

.right-list { 
  margin-left: 600px;
  padding-bottom: 30px;
  border: 5px;
}

.left-list {
  float: left;
  padding-bottom: 30px;
  border: 5px;
}

#footer {
	clear: both;
}

.image {
	text-align: center;
}

.image p {
	font-size: 10px;
	margin: -3px 0px -3px 0px;
}

.ending {
	font-size: 13px;
}

/*· 
What is important to know when linking an external file (like a stylesheet) to an HTML file?
The thing that I found most important is to make sure that the link is made to the correct path. If the path is not correct from HTML file to stylesheet file, there will not be any results. The more I learn about files the more I realize that naming the files is also really important. I can get into a rhythm of putting silly names on file and directories, that makes it really hard to find. I am trying to break out of that habit, but it is a hard habit to break.
·         What tricks did you use to help you with positioning? How hard was it to get the site as you wanted it?
I don’t know if I would call it tricks, but we just played around with the margins and the <div>s quite a lot before we were able to get the site in the two columns that we needed. I feel like CSS is always a lot of plug and chug when trying to get the format exactly how we want. It was actually really difficult for us to get the site how we wanted it. Getting it into two columns proved difficult because when we separated the rows into columns and the words in the list went everywhere. Then the footer was in the way it made it really hard to see what exactly was in the right place. In the I used a combination of <li class=”left-side”> and <li class=”right-side”> and making the left side float left and the right side have a margin-left to push it over. Then the footer format was easy to push down and the header was easy to format as well. It was really just the body, but my pair and I pushed through together which made it really fun.
·         What CSS did you use to modify the element style (like size, color, etc.)
I used a lot of different elements. I used font-weight, color, font-size, background-color, a:visited, and a lot of formatting elements.
·         Did you modify the HTML to include classes or ids? If so, which did you choose and why? If you didn't, how would you know which one to add to your HTML?
I felt that I had to modify the HTML with both classes and ids. I chose to do this because it would be an awkward format to us div div div to get to the third div and then modify that. In the HTML I set the <div>s to either a class or a id so that I could easily identify what I wanted to change and where it was in the code. I chose id’s for the big things like header and footer. I know that id is meant for a larger chuck of code, but I still don’t follow the exact difference between that and class, and for the small pieces like <ul> I used classes on those. I need to do more research on id and classes because I’m not too sure on it. I know class is small and id is big, but overall they do the same thing, don’t they?
·         When you compared your site to the actual code base, which do you think had cleaner code that followed best practices and why?
When looking at the codes side by side I felt that my code had a cleaner look and better practices. I think this because their code looked like it was all over the place and they styled with HTML. So I’ve heard styling with HTML is really bad because if you wanted to change something on the site you would have to change every single line of code while CSS one would have to only change that one part and it would apply to everything associated with that piece.*/